<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <main>
        <h2>Editar Mozos:</h2>
        <h2>Aclaro que no nos ha dado el tiempo y no lo hemos logrado finalizar</h2>
    </main>

</body>

</html>