<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <main>
        <h2>Listado de Mesas:</h2>
         @foreach (Mesas mesas in ViewBag.dato)
            {
                <div> 
                    <h2>@mesas.Numero </h2>
                </div>
            }
    </main>

</body>

</html>